$darkblue: #4b52ba;
$pink: #cb4d89;

.gradient {
  background-image: linear-gradient(64.5deg, $pink, $darkblue);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.title,
.tag-animate {
  overflow: hidden;
  white-space: nowrap;
  color: white;
  letter-spacing: 5px;
  margin: 0;
  margin-right: 10px;
}
.title {
  display: flex;
  align-items: flex-end;
  animation: type 2s steps(15, end);
  text-transform: uppercase;
  font-size: 60px;
}

.tag-animate {
  color: white;
  font-size: 60px;
  margin-left: 10px;
  display: inline;
  letter-spacing: 5px;
  width: 0;
  animation: type 1s 1s steps(3, end) forwards, flicker 1s 3s infinite;
}

.subtitle {
  overflow: hidden;
  white-space: nowrap;
  color: lightgray;
  letter-spacing: 3px;
  width: 0px;
  animation: type 1.5s 2s steps(40, end) forwards;
}

$outline: $pink;

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
    text-shadow: -2px -2px 0 $outline, 2px -2px 0 $outline, -2px 2px 0 $outline,
      2px 2px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff0088, 0 0 15px #ff4444,
      0 0 2px #ff0088, 0 2px 3px #000;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chev-down-con {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  .chev-down {
    height: 42px;
    width: 42px;
    font-size: 42px;
    color: #fff;
    cursor: pointer !important;
    opacity: 0;
    animation: fade-in 1s linear 3.5s forwards;
    &:hover {
      color: #ff0088 !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .title,
  .tag-animate {
    font-size: 40px;
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 425px) {
  .tag-animate {
    position: absolute;
    top: 60%;
  }
  .gradient {
    text-align: center;
  }
  .chev-down,
  .title,
  .subtitle,
  .tag-animate {
    width: 100%;
    opacity: 1;
    animation: none;
  }
  .tag-animate {
    animation: flicker 1s infinite;
  }
}

//////////////////////// NavBar ////////////////////////////
.navbar {
  min-height: 50px;
  background-color: #292d64;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.active-link,
.nav-item {
  cursor: pointer;
  font-weight: bold;
  line-height: 32px;
  margin: 10px;
  text-transform: uppercase;
  color: white;
  &:hover {
    color: #ff43a7 !important;
    transition: color 0.2s;
  }
}
.activeLink {
  color: #ff43a7 !important;
}

/////////////////////// ABOUT PAGE ///////////////////////

.acn-btns {
  margin: 100px;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.about-page {
  padding: 0px 100px;
  width: 100vw;
  min-height: 500px;
  background-color: #292d64;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin: 0;
  }
  p {
    line-height: 30px;
  }
  a {
    text-decoration: underline;
    margin-bottom: 5px;
    width: 125px;
    &.resume-btn {
      background-color: rgb(58, 58, 58);
      color: white !important;
      cursor: pointer;
      padding: 10px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 14.5px;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover {
        background-color: white;
        color: black !important;
      }
    }
  }
}

.two-column {
  display: flex;
}
.contact-me {
  display: flex;
  justify-content: space-between;
}
.profile-pic {
  width: 200px;
  height: 200px;
  margin-right: 50px;
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .two-column {
    display: block;
  }
  .about-page {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 425px) {
  .contact-me {
    display: block;
  }
}

/////////////////// Resume ///////////////////

.resume-page {
  padding: 100px;
  min-height: 500px;
}

.info-block {
  display: flex;
  justify-content: space-between;
  margin: 0px 70px;
}

.info-header {
  height: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: $pink 2px solid;
}

.info-child {
  width: 65%;
}

.info-child-header {
  margin-bottom: 0;
}

.subtitle-date {
  display: flex;
  align-items: center;
  color: rgb(85, 85, 85);
}

.info-subtitle {
  font-style: italic;
  margin-right: 5px;
}
.info-date {
  margin-left: 5px;
}
.info-description {
  color: rgb(128, 128, 128);
  line-height: 30px;
  margin-bottom: 40px;
  margin-top: 0;
}

.skills {
  display: flex;
  justify-content: space-between;
}

.skill-value {
  color: rgb(128, 128, 128);
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider {
  border-bottom: solid 1px lightgray;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .skills,
  .info-block {
    display: block;
  }
  .info-child {
    width: 100%;
  }
  .info-header {
    text-align: center;
  }
  .skills {
    text-align: center;
    list-style: none;
  }
}

@media screen and (max-width: 425px) {
  .resume-page {
    padding: 100px 0px;
  }
}
///////////// Project's Page ///////////////

.projects-list {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
}
.project-card {
  text-align: left;
  height: 400px;
  min-width: 280px;
  margin-right: 20px;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: rgb(255, 255, 255);
  padding: 15px;
  overflow: hidden;
}

.projects-page {
  padding: 50px;
  padding-top: 75px;
  text-align: center;
  background-color: #ebeeee;
  min-height: 200px;
}

.github-link {
  position: absolute;
  bottom: 20px;
  color: $pink;
  &:hover {
    color: $darkblue;
  }
}

//////////////////// Footer ////////////////

.chev-up-con {
  position: relative;
  font-size: 40px;
  left: 50%;
  top: -20px;
  transform: translate(-50%, -50%);
  color: rgb(128, 128, 128);
  &:hover {
    color: #fff;
    transition: color 0.5s;
  }
}
.footer-page {
  background-color: #292d64;
  min-height: 250px;
  text-align: center;
  padding-top: 60px;
}
.social-link {
  font-size: 30px;
  margin: 10px;
  color: rgb(128, 128, 128);
  &:hover {
    color: #fff;
    transition: color 0.5s;
  }
}
.copwright {
  margin-top: 50px;
  color: rgb(128, 128, 128);
}
.icon-holder {
  margin-top: -30px;
}
